.cabeçalho{background-color:#ff0000c9;color: #ffffff; display:flex;justify-content:space-around;} 
.imagem-logo{width: 20%}
.cabeçalho-lista-item{display:inline-block;margin:0 16px; font-size:20px;}
.cabeçalho-lista{display: inline-block;}
.roupas-imagem{width: 25%;}
.roupas{
    background-image:linear-gradient(#ff0000c9,#e4baba);
    color: #f7f3f3;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 24px 0;}
.roupas-div-conteudo {width: 45%;}
.roupas-titulo{padding: 30px 0;}